// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//colors
$white: #fff;
$black : #000;
$grey: #9E9E9E;
$grey-lighten-5: #F5F5F5;
$grey-lighten-2: #E0E0E0;
$grey-lighten-1: #BDBDBD;
$grey-darken-4: #212121;
$grey-darken-2: #616161;
$primary: $grey;