.page-header {
    .owl-banner {
        height: 100vh;
        background-image: linear-gradient(to bottom right, black, white);
        .item {
            height: 100vh;
            background-color: #cccccc; /* Used if the image is unavailable */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .owl-dots {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}