.page-header {
    position: relative;
    .owl-banner {
        height: calc(100vh - 70px);
        background-image: linear-gradient(to bottom right, black, white);
        .item {
            height: calc(100vh - 70px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .owl-dots {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .image-wrapper {
        position: absolute;
        bottom: 75px;
        right: 75px;
        width: 377px;
        z-index: 1;
    }
    @media #{$tablette} {
        .owl-banner {
            height: 600px;
            .item {
                height: 600px;
            }
        }
        .image-wrapper {
            width: 200px;
            bottom: 25px;
            right: 25px;
        }
    }
    @media #{$mobile} {
        .owl-banner {
            height: 500px;
            .item {
                height: 500px;
            }
        }
        .image-wrapper {
            width: 200px;
            bottom: 25px;
            right: 25px;
        }
    }
}