#a-la-une {
    padding-top: 100px;
    padding-bottom: 50px;
    .owl-slider {
        .item {
            height: 650px;
            background-image: linear-gradient(to bottom right, black, white);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: opacity(30%);
        }
        .center {
            .item {
                filter: opacity(100%);
            }
        }
        .owl-dots {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    @media #{$large-screen} {
        .owl-slider {
            .item {
                height:500px;
            }
        }
    }
    @media #{$laptop} {
        .owl-slider {
            .item {
                height:350px;
            }
        }
    }
}