header {
    .background {
        height: 75vh;
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .filter {
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            color: white;
            h1 {
                font-weight: 100;
                font-size: 34px;
                color: white;
            }
        }
    }
}
.entry-content {
    margin-top: 50px;
    .gallery-container {
        .image-gallery {
            width: 33.33%;
        }
        img {
            padding: 5px;
            width: 100%;
            height: auto;
        }
    }
}